body{
    background-color: rgb(255, 233, 236);
}

.clapperBoard {
    position: absolute;
    color:white;
    top:90px;
    left:360px;
    transform: translate(-50px,50px);
    cursor:url("sofiaCursor.png"), auto;
}
